@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
}

.dark body {
  background: #020617;
  color: white;
}

body {
  background: #f8fafc;
  color: #020617;
}